
<body>
    {{!-- <link rel="stylesheet"type="text/css" href="stylesheets/style.css"> --}}
    <header class="fixedTopBar">
        <nav class=" navbar navbar-expand-lg navbar-light bg-secondary">
            <div class="ms-5 container-fluid">

                <i class="fa-solid fa-cart-shopping">
                <a class="navbar-brand" href="/admin">HOME SHOPPY</a>
                </i><span class="badge bg-dark">Admin</span></h6>
                {{!-- <a class="navbar-brand" href="/admin">Shopping Cart</a> --}}
                <div class="ms-auto" >
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
                <div class=" collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto ">
                        {{!-- <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">admin header</a>
                        </li> --}}
                        <a type="a" class="btn btn-secondary" data-bs-toggle="tooltip" href="/" data-bs-placement="bottom" title="Go to User"></a>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/allAdminOrders">All Order </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/add-category">Add Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/add-product">Add Product</a>
                        </li>
                        <li class="nav-item dropdown me-2 pe-5">
                            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{#if admin}}
                                    {{admin.name}}
                                {{else}}
                                    Admin
                                {{/if}}
                            </a>
                            <ul class="dropdown-menu  " aria-labelledby="navbarDropdown">
                                {{#if admin.name}}
                                        <li><a class="dropdown-item" href="/admin/adminLogout">Logout</a></li>
                                {{else}}
                                    <li><a class="dropdown-item " href="/admin/adminLogin">Login</a></li>
                                    <li><a class="dropdown-item" href="/admin/adminSignup">Signup</a></li>
                                {{/if}}
                                
                                
                            </ul>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>